@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;

      --muted: 0 0% 14.9%;
      --muted-foreground: 0 0% 63.9%;
    }
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-none {
    /* Internet Explorer 10+ */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }

  .elementToFadeInAndOut {
    animation: fadeInOut 0.5s ease-in-out 1 forwards;
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(25px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}